<ion-view view-title="{{tag.tag_name}}">
    <ion-content>
        <ul class="list">
            <ion-item ng-repeat="song in songs">
                <a class="song-item-title" ng-href="#/tab/categ-song/{{song.id}}">
                    <h2 class="song-title">
                    <i class="icon ion-music-note"></i>
                    {{song.song_name}}					
                </h2>
                </a>

                <!-- <button id="removeFav" ng-click="(song.fav_flg = 'true'); addFavSong(song);" class="fav-button" ng-show="song.fav_flg  !== 'true'">
               <i  class="icon ion-android-favorite-outline" ></i>   
            </button>
          
            <button id="addFav" ng-click="removeFavSong(song); (song.fav_flg = 'false'); " class="fav-button" ng-show="song.fav_flg == 'true'">
               <i class="icon ion-android-favorite" ></i>    
             </button>
          -->
                <a class="song-item-fline" ng-href="#/tab/categ-song/{{song.id}}">
                    <p class="song-title">{{song.first_line}}</p>
                </a>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>