<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

    <!-- Dashboard Tab -->
    <ion-tab class="tabs-colour" title="All Songs" icon-off="ion-android-menu " icon-on="ion-android-menu icon-colour" href="#/tab/songs">
        <ion-nav-view name="tab-songs"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab class="tabs-colour" title="Categories" icon-off="ion-android-apps " icon-on="ion-android-apps icon-colour" href="#/tab/categ">
        <ion-nav-view name="tab-categ"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab 
    <ion-tab class="tabs-colour" title="Favourites" icon-off="icon ion-android-favorite " icon-on="icon ion-android-favorite icon-colour" href="#/tab/favs">
        <ion-nav-view name="tab-favs"></ion-nav-view>
    </ion-tab>
-->

</ion-tabs>